<% include adminHeader %>
<body>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <span style="font-size: 20px"><b>Faculty Name: </b></span>
            &emsp;
            <span style="font-size: 20px">Value</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <span style="font-size: 20px"><b>Faculty Id: </b></span>
            &emsp; &emsp; &emsp;
            <span style="font-size: 20px">Value</span>
        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-2"></div>
        <span style="font-size: 20px"><b> &nbsp;&nbsp;Courses Taught </b></span>
    </div>
    <div class="col-md-2"></div>
    <table id="courses">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Timings</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
            </tr>
        </thead>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</body>

</html>