<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/userHome.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <ul>
        <li><a href="adminHome" class="active">Profile</a></li>
        <li><a href="adminSearch">Search</a></li>
        <li><a href="addCourse">Add Course</a></li>
        <li><a href="updateDeleteCourse">Update/Delete</a></li>
        <li style="float:right"><a href="/">Logout</a></li>
    </ul>

    <br>
    <br>