<% include adminHeader %>
<body>
    <form method="post" action="/users/signup">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Course Name:</label>
                    <input type="text" class="form-control" placeholder="Student Id" name="studentId">
                </div>
                <div class="form-group">
                    <label>Course Id:</label>
                    <input type="text" class="form-control" placeholder="First Name" name="firstName">
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="lastName">
                </div>
                <div class="form-group">
                    <label>Start Date:</label>
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <input type="password" class="form-control" placeholder="Password" name="password2">
                </div>
                <div class="form-group">
                    <label>No, of Seats:</label>
                    <input type="password" class="form-control" placeholder="Password" name="password2">
                </div>
    

    
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            &emsp;&emsp;&emsp;&emsp;
            <div class="col-md-4"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
    
        </div>
    </form>

</body>

</html>