<% include adminHeader %>

    <ul>
        <li><a href="adminHome">Profile</a></li>
        <li><a href="adminSearch" class="active">Search</a></li>
        <li><a href="addCourse">Add Course</a></li>
        <li><a href="updateDeleteCourse">Update/Delete</a></li>
        <li style="float:right"><a href="/">Logout</a></li>
    </ul>

    <br>
    <br>

    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-6">
            <div class="searchbar">
                <input class="glyphicon glyphicon-search" type="text" placeholder="Search.." name="search">
                &emsp;
                <button class="btn btn-success" type="submit">Go</button>
            </div>
        </div>
    </div>
    <br>

    <br><br>
    <div class="row">
        <div class="col-md-2"></div>
        <span style="font-size: 20px"><b> &nbsp;&nbsp;Courses Registered </b></span>
    </div>
    <div class="col-md-2"></div>
    <table id="courses">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Timings</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
            </tr>
        </thead>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</body>

</html>