<% include homeHeader %>
<body>
<p><h1 align="center">NorthWest Class Registration</h1></p><br>

<p><h4 align = "center">This is northwest class registration which helps for students and faculty</h4></p>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <img src="/images/west.png"  alt="Northwest" width="460" height="345">
    </div>
        <div class="col-md-6">
        <img src="/images/north.jpg"  alt="Northwest" width="460" height="345">
    </div> 
</div>

</body>


