<% include homeHeader %>
<div class="col-md-5"></div>
<div class="col-md-6">
    <h2>Sign Up</h2><br>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<form method="post" action="/createUser">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Student Id</label>
                <input type="text" class="form-control" placeholder="Student Id" name="studentId">
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First Name" name="firstName">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" name="lastName">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password2">
            </div>

            <div class="form-group">
                    <label>Profile picture</label>
                <input type="file" name="image" accept="image/*">
            </div>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        &emsp;&emsp;&emsp;&emsp;
        <div class="col-md-4"></div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </div>
</form>
<br>
<div class="row">
<div class="col-md-4"></div>
        <p style="font-size:15px">Already have an account? <a href="userLogin">Sign in</a>.</p>
</div>